@charset "utf-8";

#right-section {
	margin-left: -1px;
}

#main-nav ul {
	margin: 0px;
	padding: 10px 0px 0px 30px;
	line-height: 86%;
}
#main-nav ul a {
	padding: 0px 0px 0px 10px;
	margin: 0px;
}

.info {
	padding-bottom: 10px;
}

.txt {
	width: 72%;
}